@include aoa-bg-series($section__classes,$section__images);

.comingsoon,.error,.privacy{
    &-s1{
        background-blend-mode: multiply;
    }
}
.contact{
    &-s3{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.garden{
    &-s1,&-s2,&-s3,&-s4{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.index,.tips{
    &-s1{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
}
.offer{
    &-s1,&-s2{
        background-color: #999!important;
        background-blend-mode: multiply!important;
    }
    &-s3{
        background-color: #666!important;
        background-blend-mode: multiply!important;
    }
}
.text{
    &-shadow{
        text-shadow: $text-shadow;
    }
}
header{
    z-index: 10;
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .contact{
        &-s1,&-s2{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .garden,.offer{
        &-s1,&-s2,&-s3,&-s4{
            *{
                color: #fff !important;
            }
            background-color: #666!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .index{
        &-s1{
            *{
                color: #fff !important;
            }
            background-color: #999!important;
            background-blend-mode: multiply!important;
            text-shadow: $text-shadow;
        }
    }
    .navbar{
        &-nav{
            *:hover{
                opacity: 0.8;
            }
            background-color: #999!important;
            border: 1px solid #666!important;
            color: #333!important;
            padding: 10px;
        }
    }
}