$prefix: "../img/";
$bg__coming-img: $prefix+"comingsoon.jpg"; 
$bg__error-img: $prefix+"error.jpg"; 
$bg__garden-img: 
    $prefix+"garden/garden-s1.jpg",
    $prefix+"garden/garden-s2.jpg",
    $prefix+"garden/garden-s3.jpg",
    $prefix+"garden/garden-s4.jpg";
$bg__index-img: $prefix+"index/index-s1.jpg"; 
$bg__offer-img: 
    $prefix+"offer/offer-s1.jpg",
    $prefix+"offer/offer-s2.jpg",
    $prefix+"offer/offer-s3.jpg";
$bg__privacy-img: $prefix+"privacy.jpg";
$bg__tips-img: $prefix+"tips/tips-s1.jpg";
$section__classes:
    "comingsoon",
    "error",
    "garden",
    "index",
    "offer",
    "privacy",
    "tips";
$section__images:
    $bg__coming-img, 
    $bg__error-img,
    $bg__garden-img,
    $bg__index-img,
    $bg__offer-img,
    $bg__privacy-img,
    $bg__tips-img;
$color__shadow: #333;
$footer__height: 41px;
$text-shadow: 1px 1px 3px $color__shadow; 